/* /Shared/MainLayoutHeader.razor.rz.scp.css */
.layoutHeaderWrapper[b-im9bcrv44p]
{
    position: fixed;
}

[b-im9bcrv44p] .brandName
{
    display: inline;
    margin: 0;
    color: #fff;
    text-shadow: 0 0 2px #fff, 0 0 10px #3da7ff;
    user-select: none;
}

[b-im9bcrv44p] .openNavMenuButton
{
    padding: 0;
    position: fixed;
    left: 24px;
}

@media (min-width: 641px)
{
    [b-im9bcrv44p] .openNavMenuButton
    {
        display: none;
    }
}
/* /Shared/NavMenuSidebar.razor.rz.scp.css */
[b-bk4bav0svm] .layoutHeader
{
    padding: 0;
}

[b-bk4bav0svm] .closeNavMenuButton
{
    height: 100%;
    width: 100%;
}

[b-bk4bav0svm] .navMenuSidebarContent
{
    height: 100%;
    padding: 30px 0;
    background: #fff;
}

[b-bk4bav0svm] .staticNavMenuSidebar
{
    position: fixed;
    height: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
}

@media (min-width: 641px)
{
    [b-bk4bav0svm] .collapsibleNavMenuSidebar
    {
        display: none;
    }
}

@media (max-width: 640.98px)
{
    [b-bk4bav0svm] .staticNavMenuSidebar
    {
        display: none;
        width: 0;
    }
}
