#blazor-error-ui
{
    background-color: #fff2f0;
    border: 1px solid #ffccc7;
    bottom: 0;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss
{
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

#app
{
    width: 100%;
    height: 100%;
}

#blazorLoadingScreen
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout
{
    min-height: 100%;
}

.mainLayout
{
    margin-top: 64px;
}

.layoutHeaderWrapper
{
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 13px 2px #3da7ff;
}

.layoutHeader
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
}

.contentLayout
{
    padding: 30px 30px;
    display: flex;
    align-items: center;
}

main
{
    max-width: 900px;
    width: 100%;
}

.layoutHeaderButton
{
    color: #cfe8ff;
    font-size: 25px;
}

.layoutHeaderButton:hover,
.layoutHeaderButton:active,
.layoutHeaderButton:focus
{
    color: #fff;
    filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 10px #3da7ff);
}

.ant-card-bordered
{
    border-color: #d9d9d9;
}

.ant-card + .ant-card
{
    margin-top: 20px;
}

@media (min-width: 641px)
{
    .contentLayout
    {
        margin-left: 200px;
    }
}
