<Menu Mode="MenuMode.Inline" Theme="MenuTheme.Light" OnMenuItemClicked="HandleMenuItemClicked">
    <MenuItem RouterMatch="NavLinkMatch.All" RouterLink="" Icon="home">
        Home
    </MenuItem>
    <MenuItem RouterMatch="NavLinkMatch.Prefix" RouterLink="recenttracks" Icon="bars">
        Recent Tracks
    </MenuItem>
    <MenuItem Icon="github">
        <a href="https://github.com/Synthwaver/musmetaniac" target="_blank">GitHub</a>
    </MenuItem>
</Menu>

@code
{
    [Parameter]
    public EventCallback OnMenuItemClicked { get; set; }

    private async Task HandleMenuItemClicked()
    {
        await Task.Delay(TimeSpan.FromMilliseconds(50));
        await OnMenuItemClicked.InvokeAsync();
    }
}
