@page "/"

<PageTitle>Index</PageTitle>

<Card>
    <TitleTemplate>
        <Title Level="3">Hello, world!</Title>
    </TitleTemplate>
    <Body>
    <Card>
        Welcome to my new app.
    </Card>
    </Body>
</Card>
